
/* Colour Scheme Variables */

:root {
    --background: #0d1117;
    --background_light: #161b22;
    --border: #404852;
}

/* Default Overrides */

html {
    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: min(1.8vw, 2vh);
    line-height: 1.2em;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: inherit;
}

/* General Purpose */

.link > .tooltip {
    visibility: hidden;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--background);
    border: 1px solid var(--border);
    color: white;
    position: absolute;
    top: 0px;
    width: 8rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem black;
}
.tooltip.right {
    right: 120%;
}
.tooltip.left {
    left: 120%;
}
.link:hover > .tooltip {
    visibility: visible;
}

/* Page */

body {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

main {
    width: min(90vw, 100vh);
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

main > * {
    margin-top: 2em;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
}

.title_bar {
    width: 50%;
}

.title {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.subtitle {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.social_bar {
    width: 50%;
    display: flex;
    justify-content: center;
}
.social {
    margin: 0 4%;
    width: 48px;
    height: 48px;
    background-size: cover;
}
.social:hover {
    filter: brightness(1);
}
@media (max-width: 700px), (max-height: 700px) {
    .social {
        width: 36px;
        height: 36px;
    }
}
@media (max-width: 500px), (max-height: 500px) {
    .social {
        width: 24px;
        height: 24px;
    }
}
.social.github   { background-image: url("icons/github.png"); }
.social.linkedin { background-image: url("icons/linkedin.png"); }
.social.email { background-image: url("icons/gmail.png"); }

/* Project Card */

.project_card {
    width: min(90vw, 100vh);
    height: calc( min(90vw, 100vh) * 0.2 );
    border-radius: 1em;
    border: 1px solid var(--border);
    text-align: center;
    display: flex;
    background-color: var(--background);
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 0.5rem black;
}
.project_card:hover {
    background-color: var(--background_light);
}

/* Favourite Highlight */

.favourite_wrapper {
    display: flex;
    padding: 2px;
    border-radius: calc( 1em + 2px );

    background: linear-gradient(-45deg, var(--border) 42%, white 50%, var(--border) 58%);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
.favourite_wrapper > .project_card {
    border: none;
    width: calc( min(90vw, 100vh) - 4px );
    height: calc( min(90vw, 100vh) * 0.2 - 4px );
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 50% 50%; }
	100% { background-position: 100% 50%; }
}

/* Project Card Image */

.project_card > img, .project_card > .fade {
    width: calc( 50% + 1px );
    height: 100%;
}

.fade {
    position: relative;
}
.fade.left  { box-shadow: inset -1rem 0 1rem -1rem black; }
.fade.right { box-shadow: inset  1rem 0 1rem -1rem black; }

.fade > img {
    display: block;
    position: relative;
    z-index: -1;
}

/* Project Card Info */

.info {
    width: 43%;
    height: 100%;
}

.info > * {
    margin-top: 0.5em;
}

.project_title {
    font-size: 1.2em;
    text-align: center;
}

.tag_box {
    display: flex;
    justify-content: center;
}

.tag {
    font-size: 0.8em;
    margin: 0 0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.25em;
    cursor: default;
}
.tag_cpp    { background-color: #0179c3; }
.tag_opengl { background-color: rgb(123, 199, 0); }
.tag_cuda   { background-color: green; }
.tag_java   { background-color: #f89917; }
.tag_web    { background-color: firebrick; }
.tag_heroku { background-color: blueviolet; }
.tag_unreal { background-color: grey; }
.tag_d3     { background-color: saddlebrown; }
.tag_python { background-color: rgb(199, 168, 54); }
.tag_ml     { background-color: darkred; }
.tag_maya   { background-color: #06a4a5; }

.description {
    margin-top: 0.75em;
    padding: 0 1em;
    font-style: italic;
    color: #c9d1d9;
}

/* Project Card Links */

.link_box {
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.link {
    margin: 0.3em 0;
    width: 32px;
    height: 32px;
    background-size: cover;
}
.link:hover {
    filter: brightness(1);
}
@media (max-width: 700px), (max-height: 700px) {
    .link {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 500px), (max-height: 500px) {
    .link {
        width: 16px;
        height: 16px;
    }
}
.repo_link { background-image: url("icons/github.png"); }
.dist_link { background-image: url("icons/tag.png"); }
.demo_link { background-image: url("icons/play.png"); }

/* Footer */

.footer {
    margin-top: 1em;
    text-align: center;
    font-size: 0.75em;
}
